
#certifications {
    background-color: #000000;
}

.certification-title {
    color: rgb(14, 139, 10);
    
}

.certification.card {
    text-align: center;
    background-color:rgb(104, 109, 118, 0.2);
    text-transform: capitalize;
    
}

.certification.card:hover {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
  transition: 0.2s;
  

}

.certification .card-title {
    /* color: #808080; */
    font-weight: bold;
    color: silver
}

.certification  .card-subtitle {
    color: gray;
    
    text-transform: uppercase;
   
    font-weight: bold;

}

.card-text {
    color: rgb(128, 128, 128);
}

.certification .card-link {
    text-decoration: none;
    
    
    border: 2px solid silver;
    border-radius: 20px;
    padding: 0.4rem;
    color: gray;
   
    
}

.certification .card-link:hover {
    /* background-color: gray; */
    /* color: white;
     */
     color: rgb(14, 139, 10);
    transition: 0.2s;
   
}

.certification-container {
    margin-top: 1.5rem;
 
   

}