
#about  {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: black;


}


.title {
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: rgb(14, 139, 10);
    font-weight: bold;
}




.greet {
    text-align: center;
    color: white;
 
    margin-top: 10px;
    font-size: 1.5em;
}


.profile {
    padding: 20px;
}

.profile-picture {
    display: flex;
    justify-content: center;  
    align-items: center;
 
    
}

.profile-picture img {
    height: auto;
    max-height: 320px;
    width: auto;
    max-width: 240px;
    /* background: rgb(252, 247, 247, 0.3); */
    border-radius: 8px;
}

.introduction p {
    opacity: 0.8;;
    color: silver;
}

#Linkedin-Icon--Streamline-Svg-Logos {
    background-color: white;
    padding: 2px;
    border-radius: 5px; 
   
}

#about .social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.message  {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px auto;
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.resume-container ,  .social-links {
   
    position: relative;
    width: fit-content;
    border: 1px solid silver;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    
}


.resume-header, .connection-header {
    position: absolute;    
    top: -12px    ;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    font-weight: bold; 
    border-radius: 5px;
    
}

.connection {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    

}

.social-links a  {

    /* padding: 10px; */
    border-radius: 10px;
    margin: 10px 0 0 0;

}


.resume-download-btn {
    margin: 10px 0 0 0;
    color: silver;
    background-color: green;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resume-download-btn:hover, .connection a:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: white;
}



